.pagination {
    color: black !important;
    display: inline-block;
}

.pagination li {

}

.pagination li a {
    cursor: pointer;
    color: black !important;
}

.pagination li :hover {
    margin: 9px 4px 6px 2px;
    padding: 2px 10px;
    display: block;
    float: left;
    background: #e8922b none repeat scroll 0% 50%;
    border-right: 0px solid #b24100;
    border-bottom: 0px solid #b24100;
}

.pagination .active a {
    background: #e8922b none repeat scroll 0% 50%;
}

.pagination .previous {

}

.pagination .previous.disabled {
    cursor: default;
}

.pagination .next {

}

.pagination .next.disabled {
    cursor: default;
}